

/* Custom Fonts */

@font-face {
    font-family: 'test3';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/test3.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'test3';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/test3b.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'test2';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/test2.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'test2';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/test2b.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'btext';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/btext.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'btext';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/btextb.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'btext';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/btexti.woff2);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'btext';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/btextbi.woff2);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'lumi';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/lumi.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ghgoth';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/ghgoth.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfi';
    src: url(https://rawcdn.githack.com/Aventhar/Ansaera/b75bdc8425e4f36b68356706f146ecb94ebb5d78/fonts/pfi.woff2);
    font-weight: normal;
    font-style: normal;
}

